.productCard {
    background: white;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    font-family: sans-serif;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.productImage {
    object-fit: contain;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.productName {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
    height: 2.4em; /* Reserva espaço para 2 linhas de nome */
    overflow: hidden;
}

.productCategory {
    font-size: 0.8rem;
    color: #888;
    text-transform: uppercase;
}

.productPrice {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

.productStock {
    font-size: 0.8rem;
    color: #27ae60;
    margin-top: 5px;
}
.productButton {
    background-color: blue
}
.productButton:disabled {
    background-color: grey
}

.imageWrapper {
    position: relative; /* Obrigatório para o fill do Next Image funcionar */
    width: 100%;
    height: 250px; /* Ou a altura que preferir */
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    flex-grow: 1; /* Faz o conteúdo ocupar o espaço e alinhar os botões */
}

/* Estilo para destacar o texto de esgotado */
.textEsgotado {
    color: #e63946;
    font-weight: bold;
}