.productCard {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    font-family: sans-serif;
    overflow: hidden;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.productImage {
    object-fit: cover;
    width: 100%;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    aspect-ratio: 1/1;
}

.productName {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
    height: 2.4em; /* Reserva espaço para 2 linhas de nome */
    overflow: hidden;
}

.productCategory {
    font-size: 0.8rem;
    color: #888;
    text-transform: uppercase;
}

.productPrice {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

.productStock {
    font-size: 0.8rem;
    color: #27ae60;
    margin-top: 5px;
}
.productButton {
    width: 100%;
    padding: 12px;
    color: #fff;
    background-color: rgb(85, 85, 87);
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.productButton:hover:not(disabled) {
    background-color: #161616;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.productButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.imageWrapper {
    position: relative; 
    width: 100%;
    height: 200px; 
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    flex-grow: 1; 
}
.textEsgotado {
    color: #e63946;
    font-weight: bold;
}